.z-depth-1 {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12) !important;
}

.z-depth-1-top {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.12) !important;
}

.z-depth-1-bottom {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16);
}

.z-depth-2 {
  box-shadow: 0 8px 17px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19) !important;
}

.z-depth-2-top {
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.19) !important;
}

.z-depth-2-bottom {
  box-shadow: 0 8px 17px rgba(0, 0, 0, 0.2) !important;
}

.z-depth-3 {
  box-shadow: 0 12px 15px rgba(0, 0, 0, 0.24), 0 17px 50px rgba(0, 0, 0, 0.19) !important;
}

.z-depth-3-top {
  box-shadow: 0 17px 50px rgba(0, 0, 0, 0.19) !important;
}

.z-depth-3-bottom {
  box-shadow: 0 12px 15px rgba(0, 0, 0, 0.24) !important;
}

.z-depth-4 {
  box-shadow: 0 16px 28px rgba(0, 0, 0, 0.22), 0 25px 55px rgba(0, 0, 0, 0.21) !important;
}

.z-depth-4-top {
  box-shadow: 0 25px 55px rgba(0, 0, 0, 0.21) !important;
}

.z-depth-4-bottom {
  box-shadow: 0 16px 28px rgba(0, 0, 0, 0.22) !important;
}

.z-depth-5 {
  box-shadow: 0 27px 24px rgba(0, 0, 0, 0.2), 0 40px 77px rgba(0, 0, 0, 0.22) !important;
}

.z-depth-5-top {
  box-shadow: 0 40px 77px rgba(0, 0, 0, 0.22) !important;
}

.z-depth-5-bottom {
  box-shadow: 0 27px 24px rgba(0, 0, 0, 0.2) !important;
}

.z-depth-animation .z-depth-1,
.z-depth-animation .z-depth-2,
.z-depth-animation .z-depth-3,
.z-depth-animation .z-depth-4,
.z-depth-animation .z-depth-5 {
  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  border:none !important;
}

.modal-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1rem 1rem;
  border-bottom: 0px solid #dee2e6 !important;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
}
.modal-footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    padding: 0.75rem;
    border-top: 1px solid #fff !important;
    border-bottom-right-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
}

.input-group-navbar {
    max-width: none !important;
    margin-top: 5px !important;
}