<template>
	 <div class="col-12 col-xl-12">
                            <div class="card">
                                <div class="card-header">
                                    <h5 class="card-title">Striped Rows</h5>
                                    <h6 class="card-subtitle text-muted">Use <code>.table-striped</code> to add zebra-striping to any table row within the <code>&lt;tbody&gt;</code>.</h6>
                                </div>
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th style="width:40%;">Name</th>
                                            <th style="width:25%">Phone Number</th>
                                            <th class="d-none d-md-table-cell" style="width:25%">Date of Birth</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><img src="img/avatars/avatar-5.jpg" width="48" height="48" class="rounded-circle mr-2" alt="Avatar">Vanessa Tucker</td>
                                            <td>864-348-0485</td>
                                            <td class="d-none d-md-table-cell">June 21, 1961</td>
                                            <td class="table-action">
                                                <a href="#"><i class="align-middle" data-feather="edit-2"></i></a>
                                                <a href="#"><i class="align-middle" data-feather="trash"></i></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>William Harris</td>
                                            <td>914-939-2458</td>
                                            <td class="d-none d-md-table-cell">May 15, 1948</td>
                                            <td class="table-action">
                                                <a href="#"><i class="align-middle" data-feather="edit-2"></i></a>
                                                <a href="#"><i class="align-middle" data-feather="trash"></i></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Sharon Lessman</td>
                                            <td>704-993-5435</td>
                                            <td class="d-none d-md-table-cell">September 14, 1965</td>
                                            <td class="table-action">
                                                <a href="#"><i class="align-middle" data-feather="edit-2"></i></a>
                                                <a href="#"><i class="align-middle" data-feather="trash"></i></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Christina Mason</td>
                                            <td>765-382-8195</td>
                                            <td class="d-none d-md-table-cell">April 2, 1971</td>
                                            <td class="table-action">
                                                <a href="#"><i class="align-middle" data-feather="edit-2"></i></a>
                                                <a href="#"><i class="align-middle" data-feather="trash"></i></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Robin Schneiders</td>
                                            <td>202-672-1407</td>
                                            <td class="d-none d-md-table-cell">October 12, 1966</td>
                                            <td class="table-action">
                                                <a href="#"><i class="align-middle" data-feather="edit-2"></i></a>
                                                <a href="#"><i class="align-middle" data-feather="trash"></i></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
</template>

<script type="text/javascript">
	
</script>